<% include ../partials/header %>

<header class="form" id="newComment">
  <h1>Comment on <%= campground.name %></h1>

  <form class="form-large" action="/campgrounds/<%= campground._id %>/comments" method="POST">
    <textarea class="form-control" rows="6" name="comment[body]" required></textarea>
    <input class="submit btn btn-success btn-block" type="submit">
  </form>
   
</header>

<% include ../partials/footer %>