<% include partials/header %>

<header class="jumbotron">
  <h1>Welcome to YelpCamp!</h1>
  <p>This landing page will look better eventually, I promise</p>
  <a href="campgrounds"><button class="btn bg-dark">View Campgrounds</button></a>
</header>

<% include partials/footer %>