<% include partials/header %>

<header class="jumbotron">
    <h1><%= campground.name %></h1>
    <img src="<%= campground.image %>" alt="">
    <p><%= campground.description %></p>
    <a href="/index"><button class="back btn btn-danger">Back</button></a>
</header>

<% include partials/footer %>