<% include ../partials/header %>

<header class="jumbotron">
  <h1>Campgrounds</h1>
  <p>Look at all of these <em>awesome</em> campgrounds!</p>
  <a href="campgrounds/new"><button class="btn bg-dark">Create a New Campground</button></a>
</header>

<div class="card-columns">
    <% campgrounds.forEach(campground => { %>
    <a href="/campgrounds/<%= campground._id %>">
      <div id="cardPreview" class="card">
        <img class="card-img-top" src="<%= campground.image %>" alt="">
        <div class="card-body">
          <h2 class="card-title"><%= campground.name %></h2>
        </div>
      </div>
    </a>
    <% }); %>
  </div>

 
<% include ../partials/footer %>