<% include ../partials/header %>

<header id="campgroundHeader" class="jumbotron">
  <h1 class="display-3">Campgrounds</h1>
  <p>Find the campsite waiting for you</p>
  <a href="campgrounds/new"><button class="btn bg-dark">Create a New Campground</button></a>
</header>

<div class="card-columns">
  <% campgrounds.forEach(campground => { %>
    <div class="card">
      <div id="cardPreview">
        <a href="/campgrounds/<%= campground._id %>">
          <img class="card-img-top" src="<%= campground.image %>" alt="">
          <div class="card-body">
            <h2 class="card-title"><%= campground.name %></h2>
          </div>
        </a>
      </div>
    </div>
  <% }); %>
</div>

 
<% include ../partials/footer %>