<% include ../partials/header %>

<header class="form" id="newCampground">
  <h1>New Campground</h1>
  <!-- <p>Make an <em>awesome</em> campground in just a few simple steps</p> -->

  <form action="/campgrounds" method="POST">
    <label for="campground[name]">Name</label>
    <input class="form-control" type="text" name="campground[name]" placeholder="Name" required>
    <label for="campground[image]">Image</label>
    <input class="form-control" type="url" name="campground[image]" placeholder="Image URL" required>
    <label for="campground[price]">Price</label>
    <input class="form-control" type="number" name="campground[price]" placeholder="Price" step="0.01" required>
    <label for="campground[websiteURL]">Website URL</label>
    <input class="form-control" type="url" name="campground[websiteURL]" placeholder="Website URL" required>
    <label for="campground[description]">Description</label>
    <textarea class="form-control" rows="5" name="campground[description]" required></textarea>
    <input class="submit btn btn-success btn-block" type="submit">
  </form>
   
</header>

<% include ../partials/footer %>