/* .campground img {
  width : 500px;
  border-radius : 5px;
} */

/* .campground {
  margin-bottom : 30px;
} */

body {
  background-color : rgb(37, 37, 37);
}

nav {
  margin-bottom : 20px;
}

form {
  padding : 5px 0;
}

label {
  display : block;
  font-weight : 600;
}

img {
  /* border-radius : 5px; */
}

textarea {
  width : 100%;
  padding : 5px 10px;
}

form[action="/campgrounds"] {
  display : inline;
}

input[type="text"] {
  margin-bottom : 10px;
}

.jumbotron {
  background-color: rgb(200, 200, 200);
  margin-top : 10px;
}

.btn.bg-dark {
  color : white; 
}

input[type="text"]:last-of-type, 
textarea:last-of-type {
  margin-bottom : 20px;
}

/* .submit, .back {
  margin-top : 10px;
  margin-right : 10px;
} */

h2.card-title {
  font-size : 1.5rem;
}

.card-columns .card {
  margin-bottom: 1rem;
}

a {
  text-decoration : none !important;
  color : inherit;
}

a:hover {
  color : inherit;
}

.jumbotron img {
  max-height : 25rem;
  margin : 20px 0; 
}

#commentsHeader,
.titles {
  display : flex;
  justify-content : space-between;
  align-items : baseline;
  margin-bottom : 10px;
}

.titles h2 {
  font-size : 2.2em;
}

.titles h3 {
  font-size : 1.3em;
}

/* .content  * {
  margin : 10px;
} */

#commentHeader {
  display : flex;
  justify-content : space-between;
  align-items : center;
}

#commentContent {
  display : flex;
  justify-content : left;
  align-items : start;
}

#show, #commentSection {
  margin-bottom : 10px;
}

#commentSection {
  padding : 10px;
}

#showContent {
  padding : 10px;
}

#show h2,h3 {
  margin-bottom : 0 !important;
}

.card {
  border : none;
}

#show {
  /* background : none;
  border : none; */
}

#showz img {
  /* width : 100%; */
  object-fit : contain;
}

#newCampground > h1 {
  padding-bottom : 1rem;
}

#newCampground {
  max-width : 600px;
  margin : 0 auto;
}

#navSearch {
  margin-right : 10px;
}

#commentSectionz {
  margin-top : 20px;
}

#cardPreview:hover {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

/** Responsive card columns **/

@media (min-width : 576px) {
  .card-columns {
    column-count : 2;
  }
}

@media (min-width : 768px) {
  .card-columns {
    column-count : 3;
  }
}

@media (min-width : 992px) {
  .card-columns {
    column-count : 4;
  }
}

@media (min-width : 1200px) {
  /* .card-columns {
    column-count : 4;
  } */
}

/*****************************/