/* .campground img {
  width : 500px;
  border-radius : 5px;
} */

/* .campground {
  margin-bottom : 30px;
} */

body {
  background-color : rgb(37, 37, 37);
}

nav {
  margin-bottom : 20px;
}

form {
  padding : 5px 0;
}

label {
  display : block;
  font-weight : 600;
}

img {
  border-radius : 5px;
}

textarea {
  width : 100%;
}

form[action="/campgrounds"] {
  display : inline;
}

input[type="text"] {
  margin-bottom : 10px;
}

.jumbotron {
  background-color: rgb(200, 200, 200);
  margin-top : 10px;
}

.btn.bg-dark {
  color : white; 
}

input[type="text"]:last-of-type, 
textarea:last-of-type {
  margin-bottom : 20px;
}

/* .submit, .back {
  margin-top : 10px;
  margin-right : 10px;
} */

h2.card-title {
  font-size : 1.5rem;
}

.card-columns .card {
  margin-bottom: 1rem;
}

/* .card:hover h2 {
  text-shadow: 2px 2px 4px grey;
} */

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

a {
  text-decoration : none !important;
  color : inherit;
}

a:hover {
  color : inherit;
}

.jumbotron img {
  max-height : 25rem;
  margin : 20px 0; 
}

#show img {
  /* width : 100%; */
  object-fit : contain;
}

#newCampground > h1 {
  padding-bottom : 1rem;
}

#newCampground {
  max-width : 600px;
  margin : 0 auto;
}

#navSearch {
  margin-right : 10px;
}

#commentSection {
  margin-top : 20px;
}

/** Responsive card columns **/

@media (min-width : 576px) {
  .card-columns {
    column-count : 2;
  }
}

@media (min-width : 768px) {
  .card-columns {
    column-count : 3;
  }
}

@media (min-width : 992px) {
  .card-columns {
    column-count : 4;
  }
}

@media (min-width : 1200px) {
  /* .card-columns {
    column-count : 4;
  } */
}

/*****************************/